<div class="top-page-container">
  <div class="shared-container">
    <h1 class="application-headline">目標達成アプリ　トゥナイト！</h1>
    <div class="start-buttons-area">
      <button class="ideal-image-btn">
        <%= link_to class: "ideal-image" do %>
          このアプリを使って<br>目標を見つける！
        <% end %>
      </button>
      <button class="oneself-btn" >
        <%= link_to class: "oneself" do %>
          このアプリを使って<br>目標達成の方法を見つける！
        <% end %>
      </button>
    </div>
  </div>
</div>